@import url('https://fonts.googleapis.com/css?family=PT+Mono');

html {
    min-height: 100%;
}

body {
    font-family: 'PT Mono', monospace;
    background-image: url('../images/map-background.jpg');
    background-size: cover;

}

#header {
    background-color: #87cef6;
    font-size: 30px;
    color: white;
    width: 50%;
    margin-top: 45px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px!important;

}

h1 {
    text-shadow: 0 0 10px black;
}



#main-box, #login-box, #register-box, #about-box, #home-box {
    background-color: white;
    color: #87cef6;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    padding: 50px;
    margin-top:45px;
}

#location-box {
    background-color: white;
    color: #87cef6;
    float: left;
    padding: 20px;

}

#map-box {
    float: right;
    background-color: white;

}


a {
    color: #87cef6;
    line-height: 3;
}

a:hover {
    color: #f08533;
    text-decoration: none;
}

#links {
    margin-top: 25px;
}

/* issue with footer positioning in full screen */
footer {
    padding: 30px;
    clear: both;
    font-size: 14px;
    color: white;
    background-color: #87cef6;
    height: 10px;
    width: 100%;
    position: fixed;
    bottom: 0;
  }

  .btn-primary, .btn-primary:active, .btn-primary:visited {
    background-color: #87cef6 !important;
    border-color: #87cef6 !important;
}

/*.btn-primary:hover 
    background-color: #f08533;
}*/

label {
    color: #87cef6;
}

select {
    color: #87cef6;
    background-color: white;
    border-color: #f08533;
}

input {
    color: #87cef6;
    border-color: #f08533;
}

.form-control {
    border-color: #f08533;
    color: #87cef6 !important;
}

#city-state {
    display: inline-flex;
}

select {
    margin-left: 10px;
}

::-webkit-input-placeholder {
    color: #87cef6 !important;
    opacity: 0.5 !important;
}

.bg-light {
    background-color: #87cef6 !important;
}


.navbar-light .navbar-brand {
    color: white;
}

.navbar-light .navbar-brand:hover {
    color: #f08533;
}

.navbar-light .navbar-nav .nav-link.active {
    color: #f08533;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #f08533;
}

#home-links {
    font-size: 20px;
}

img {
    width: 100%;
}

table {
    margin-top: 30px;
}

.table, th, td {
    border-top-color: #f08533 !important;
    border-bottom-color: #f08533 !important;
}

.table thead th {
    border-bottom-color: #f08533 !important;
}

thead {
    background-color: #87cef6;
    color: white;
}

.btn-danger, .btn-primary:active, .btn-primary:visited {
    background-color: #f08533 !important;
    border-color: #f08533 !important;
}

#my-trips {
    margin-top: 0px;
}

iframe {
    margin-right: 30px;
}